style* { margin: 0 auto; font-family: sans-serif; }

body { margin: 0 auto; }

header {
	height: 70px;
	background-color: #3e739d;
	border-bottom: 1px solid #494949;
	display: flex;
	align-items: center;
	justify-content: center;
}
header > h1 {
	width: calc(100% - 160px);
	text-align: center;
	font-size: 20px;
	color: white;
}
header > .top {
	position: absolute;
	left: 20px;
}
header > .top a.menu_icon i {
	color: #000;
	font-size: 40px;
	padding-top: 5px;
	transition: .2s ease;
	
}
header > .top a.menu_icon:hover i {
	color: #fff;
}
nav.menu {
	width: 300px;
	min-height: calc(100vh - 121px);
	background-color: #3e739d;
	position: absolute;
	left: -300px;
	transition: .3s all;
	z-index: 1000;
}
nav.menu > a {
    display: block;
    padding: 5px;
    margin: 0px 0 0px 0px;
    color: white;
    text-transform: uppercase;
}
main {
	width: 100%;	
	box-sizing: border-box;
}


.menu_show {
	left: 0!important;
}
 .imgheader{ 
	height:80px;
	width:80px;
  }

  .imgcontainer {
	position: relative;
    text-align: center;  
	width:100%;
	color: white;
  }
  .imgtext {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 80px;
  }
  
  /* Bottom right text */
  .imgblock {
	position: relative;
	color: white;
	
  }
  .formcolumn {
	float: left;
	width: 20%;
	padding: 10px;
	background-color:#969595
  }

 
  .sbutton {
	background-color: #2b24e2;
  border: none;
  color: white;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;  
  cursor: pointer;

  }

  .logindiv {background-color:red;}

@media screen and (max-width: 800px) {
	header h1 {
		font-size: 15px;
		font-weight: bold;
	}
	main p {
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-size: smaller;
		color: #46699c;
	}

	main > .imgcontainer .imgtext { 
		font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
		font-size: 20px;
		color: #c10e56;
	}
}
@media screen and (min-width: 1200) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}